body{
	background-color: #F0F4F6;
	font-family: "Century Gothic";
}
h1{
	color: #23B9F9;
	text-align: center;
}
h3{
	color: #23B9F9;
	text-align: center;
}
p{
	text-align: center;
}
img{
	margin: 15px;
}
